<p-card class="post-container">
  <p-toast></p-toast>

  <form (ngSubmit)="submitPost()" [formGroup]="postForm" class="flex flex-col gap-4">
    <!-- Title -->
    <div class="flex flex-col gap-2">
      <label for="title">Title</label>
      <input pInputText id="title" formControlName="title" />
    </div>

    <div class="flex flex-col gap-2">
      <label for="title">Subject</label>
      <p-autocomplete formControlName="subject" [dropdown]="true" [suggestions]="filteredSubjects" field="title"
        (completeMethod)="searchSubjects($event)" />
    </div>

    <!-- Markdown Editor -->
    <div class="flex flex-col gap-2">
      <label for="body">Content</label>
      <p-editor formControlName="body" [style]="{ height: '250px' }" [modules]="modules"></p-editor>
    </div>

    <!-- File Upload -->
    <div class="flex flex-col gap-2">
      <label>Attachments</label>
      <p-fileUpload name="files[]" customUpload multiple="multiple" (onSelect)="onFileSelect($event)"
        (onRemove)="onFileRemove($event)" [showUploadButton]="false" [showCancelButton]="false">
      </p-fileUpload>
    </div>

    <!-- Submit Button -->
    <button pButton type="submit" label="Submit Post" icon="pi pi-check" [disabled]="postForm.invalid"></button>
  </form>
</p-card>